.footer{
    display: flex;
    padding-bottom: 80px;
    &-left{
        width: 40%;
    }

    &-desc{
        margin: 40px 0 50px;
        max-width: 250px;
    }

    &-right{
        width: 20%;
        margin-left: 100px;         
    }

    &-heading{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &-item-link{
        display: inline-block;
        margin-bottom: 30px;
        font-weight: 500;
    }

    @media screen and (max-width: 1279px) {
        
        &-right {
            margin-left: 80px;
        }
    }

    @media screen and (max-width: 767px) {
        display: grid;
        justify-content: flex-start;
        grid-auto-columns: 230px;
        grid-auto-flow: column;
        grid-gap: 0;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        scroll-padding: 0;
        grid-template-columns: unset;
        &{
        -webkit-scrollbar{ 
          display: none;
          width: 0;
        }
        & > *{
          scroll-snap-align: start;
          margin-left: 0;
        }
    }
}
}
.social {
    display: inline-flex;
    &-link{
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.social-link:not(:first-child){
    margin-left: 10px;
}

.bg-google{
    background-color: red;
}
.bg-twitter{
    background-color: blue;
}
.bg-instagram{
    background-color: orangered;
}